body {
	background-color: black;
}
.main {
	background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}
#main-text {
  margin-top: 160px;
  margin-right: 100px;
  text-align: right;
  float: right;
  font-size: 50px;
  line-height: 60px;
  font-family: 'Bangers', sans-serif;
}
#main-title {
  margin-top: -60px;
  margin-right: 0px;
  float: right;
  text-align: right;
  font-size: 100px;
  line-height: 60px;
  color: orange;
  font-family: 'Bangers', sans-serif;
}
.ryu {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 170px;
  left: 600px;
  float: left;
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}
